body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hwb(340 26% 51%);
}
.icon{
  color:cadetblue;
  padding: 20px;
  
}
.icon2{
color: #ac053d;
}
header{
  background: hsl(192, 85%, 29%);
  padding: 10px 20px;
  display: flex;
   align-items: center;
  /* justify-content: space-between;  */
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;


}
header input{
  padding: 8px 12px;
  width: 250px;
  max-width: 100%;
  border: 1px solid#ccc;
  border-radius: 20px;
}
.filters{
  background: #fff;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-bottom: 1px solid#ddd;
  flex-wrap: wrap;
}
.filters select{
  padding: 8px 12px;
  border:  solid#ccc;
  border-radius: 5px;
}
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  gap:15px;
  padding: 15px;
}
.product-card{
  background: #fff;
  border:1px solid #cec4c4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}
.product-card:hover{
  transform:translateY(-5px);
}
.product-card img{
  width: 100%;
  height: auto;
  display: block;
}
.product-info{
  padding: 10px;
}
.product-info h3{
  font-size: medium;
  margin: 5px 0;
}
.price{
  font-weight: bold;
  color: #000;
}
.old-price{
  text-align:line-through;
  color:#777;
  margin-left: 5px;
  font-size: medium;
}
.discount{
  color: green;
  font-size: medium;
  margin-left: 5px;
}
.delivery{
  font-size: medium;
  color: #444;
  margin: 5px 0;
}
.rating{
  display: inline;
  background: green;
  color: white;
  padding: 2px 6px;
  font-size: small;
  border-radius: 12px;
}
@media(max-width:600px) {
  header{
    flex-direction: column;
    gap: 10px;
  }
  header input{
    width: 100%;
  }
}
